h2{text-align: center;}

input{
    margin: auto;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid black;
    margin: 1rem;
    font-size: 2rem;
}

.inputdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}